<div id="whole-page">
	<div id="player" class="word-title">
		<span id="player-text">	
			<img src="images/player.png" class="title-text"></img> 
		</span>
		<div id="playerNum" class="word-playerNum">
			x
		</div>
	</div>
	<div id="rest-of-page">
		<div id="timer">
			Timer
		</div>
		<div class="card">
			<div id="word">
				Word
			</div>
		</div>
		<div id="skip" class="button-background">
			<img src="images/skip.png" class="button-text"></img>
		</div>
		<div id="scored" class="button-background">
			<img src="images/scored.png" class="button-text"></img>
		</div>
		
	</div>
	<div id="remaining-words">
		<span id="wordNum">
			x
		</span>
		of 5
	</div>
</div>